## BLITZMAX GIT IGNORE
## V1.0

# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*

# Exclude folders
.bmx/
.vscode/
.bls-cache/
testing/

# Exclude files
*.bak
*.debug
*.old
*.exe
*.a
*.i
*.i2


